html {
    scroll-behavior: smooth;
}

body {
    background-image: url("./images/paper-flower.webp"); background-repeat: no-repeat; background-size: cover;
    background-attachment: fixed;
}

/* for desktop screen */
@media only screen and (min-width: 768px) {
    body {
        background-attachment:scroll;
    }
}

nav {
    background-color: sienna;
}

.home {
    color:wheat; padding: 15px; font-size: 20px; text-decoration: none;
}

.home:hover {
    color:black;
}

header {
    text-align: center; padding-top: 200px; padding-bottom: 200px;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif; font-size: 50px; color:sienna;
}

.headtext {
    font-size: 20px; font-style: italic; color: sienna;
}

h2 {
    color: sienna; font-family:'Times New Roman', Times, serif; text-align: center;
}

.allcards {
    width: 90%;
}

.col {
    padding: 20px;
}

.cardone:hover {
    transform: scale(1.1);
}

img:hover {
    opacity: 0.5;
}

.cardone {
    box-shadow: 0px 5px 25px -5px black; background-color: rgb(218, 182, 182); transition: 0.3s;
}

.cardone .btn {
    background-color:#444; outline: none; color: whitesmoke; margin-top: 5px;
}

.cardone .btn:hover {
    background-color: black;
}

.btn:focus {
    outline: none; box-shadow: none;
}

footer {
    background-color: sienna; color: wheat; font-size: 20px; padding: 20px; margin: 10px;
}

.contact:hover {
    transform: scale(1.3); transition: 0.3s;
}

/* slider button */
#switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
#switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: black;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  

/* Dark Mode*/
.darkmode {
    background-image: none; background-color: black;
}

.darkmode .cardone {
    box-shadow: 0px 5px 25px -5px black; background-color: whitesmoke; transition: 0.3s;
}

.darkmode .cardone .btn {
    background-color:sienna; outline: none; color: whitesmoke;
}

.darkmode .cardone .btn:hover {
    background-color: black;
}
